<a href="https://colab.research.google.com/github/scisterna/aprende-python-desde-cero/blob/main/08_2_Intro_a_Python_%7C_variables%2C_operaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Variables
Preparado por Sebastián Cisterna

Este documento te guiará a través de algunos conceptos fundamentales en Python, incluyendo variables, tipos de datos, operaciones matemáticas, comentarios y funciones. Entender estos conceptos proporcionará una base sólida a medida que continúes aprendiendo y explorando Python.

# Variables y tipos de variables
El valor que asignas a una variable puede ser de muchos tipos diferentes, y el tipo determina qué tipo de operaciones puedes realizar con el valor. Estos son algunos de los tipos de datos más comunes:

## Entero o Integer
Un entero es un número completo (sin un punto decimal). Puede ser positivo o negativo. Por ejemplo:

In [ ]:
mi_entero = 5
mi_entero_neg = -3

Con el siguiente código sobreescribiremos el valor actual (5) de `mi_entero`

In [ ]:
mi_entero = 10

## Flotante
Un flotante es un número que incluye un punto decimal. Puede ser positivo o negativo. Por ejemplo:

In [ ]:
mi_float = 3.14
mi_float_neg = -0.01

Cabe destacar que, a diferencia de Excel, el separador de decimales es el punto en lugar de la coma.

## Porcentajes
Recuerde que los porcentajes se pueden representar en números entre `0` y `1`. Por ejemplo `50%` es `0.5`. Por ello, suelen representarse como floats y luego se convierten a porcentajes cuando se imprimen o visualizan.

In [ ]:
porcentaje = 0.13 # equivale a 13%

Luego estos `float` se les cambia el formato. A continuación hay dos maneras de hacerlo.

In [ ]:
# Usando format
format(porcentaje, ".0%")

'13%'

In [ ]:
# Usando f-strings
print(f"{porcentaje:.0%}")

13%

## Cadena o String
Una cadena es una secuencia de caracteres, o también mas comúnmente conocido como un texto. En Python, puedes crear una cadena encerrando caracteres entre comillas simples (') o comillas dobles ("). Por ejemplo:

In [ ]:
mi_string = '¡Hola, mundo!'
otro_string = "¡Python es divertido!"

### Métodos de manipulación de strings
Al igual de lo que vimos en Excel, Python permite manipular textos. A continuación algunos ejemplos

#### Concatenar cadenas
Puedes unir una cadena con otra, a ello se le llama *concatenar*. Una manera común de hacerlo es usando el simbolo + entre dos cadenas de texto.

In [ ]:
anios = 28
mensaje = "tengo " + str(anios) + " años de edad"

Notese como tuvimos que forzar a que la variable anios fuera un String, usando la función `str`. Hablaremos de esto más adelante en la guía

#### Mayúsculas, minusculas, y similares

In [ ]:
# Similar a MAYUSC()
mi_string.upper()

'¡HOLA, MUNDO!'

In [ ]:
# Similar a MINUSC()
mi_string.lower()

'¡hola, mundo!'

In [ ]:
# Similar a NOMPROPIO()
mi_string.title()

'¡Hola, Mundo!'

In [ ]:
# Similar a REEMPLAZAR()
mi_string.replace("mundo", "estudiante")

'¡Hola, estudiante!'

## Booleano
Un booleano es un tipo que solo puede tener uno de dos valores: `True` o `False`. Los booleanos a menudo se usan en condiciones, como en una declaración if. Por ejemplo:

In [ ]:
es_verdadero = True
es_falso = False

Pon atención en el hecho de que True y False empiezan con mayúsculas. Esto es distinto en otros lenguajes de programación

# Convirtiendo Entre Tipos
En Python, puedes convertir valores entre diferentes tipos utilizando funciones como `int()`, `float()`, y `str()`. Sin embargo, no todas las conversiones están permitidas - por ejemplo, no puedes convertir el string "hola" a un entero.
Aquí hay un ejemplo de cómo convertir un flotante a un entero:

In [ ]:
mi_float = 3.14
mi_entero = int(mi_float) # Esto nos dará el valor 3

Nota que cuando conviertes un flotante a un entero en Python, no redondea al número entero más cercano - siempre trunca.
Aquí hay otro ejemplo usando la función `str()`:

In [ ]:
mi_entero = 10
print("La variable mi_entero es de tipo: " + str(type(mi_entero)))

La variable myInteger es de tipo: <class 'int'>

# Obteniendo el tipo de las variables
¿Viste eso de `type()` que usamos en el último código?
En Python, si alguna vez te encuentras en una situación en la que no estás seguro del tipo de una variable o simplemente deseas verificarlo, puedes utilizar la función `type()`. Esta función devuelve el tipo de la variable que le pases como argumento.
Por ejemplo, si tienes una variable que es un string y quieres confirmar que es así:

In [ ]:
mi_string = "¡Hola, Python!"
print(type(mi_string))

<class 'str'>

Al ejecutar el código anterior, obtendrías la salida `<class 'str'>`, lo que indica que la variable `mi_string` es de tipo cadena (o str en inglés).
Del mismo modo, si tienes un número entero:

In [ ]:
mi_entero = 42
print(type(mi_entero))

<class 'int'>

El resultado sería `<class 'int'>`, confirmando que es un número entero.
Es importante resaltar que `type()` es extremadamente útil para la depuración y para entender mejor el comportamiento de tu código, especialmente cuando trabajas con funciones o librerías que pueden devolver diferentes tipos de datos.

# Operaciones matemáticas
Operaciones Matemáticas
En Python, hay varios operadores que te permiten realizar operaciones matemáticas básicas:

* Suma (`+`): Este operador suma dos números. Por ejemplo, `5 + 3` es igual a `8`.
* Resta (`-`): Este operador resta el segundo número del primero. Por ejemplo, `10 - 7` es igual a `3`.
* Multiplicación (`*`): Este operador multiplica dos números. Por ejemplo, `2 * 3` es igual a `6`.
* División (`/)`: Este operador divide el primer número entre el segundo. Por ejemplo, `10 / 2` es igual a `5`.
* Módulo (`%`): Este operador da el residuo de una división. Por ejemplo, `10 % 3` es igual a `1` porque 10 dividido por 3 deja un residuo de 1.
* Exponenciación (`**`) Este operador eleva el primer número a la potencia del segundo número. Por ejemplo, `2**3` es igual a `8` porque 2 elevado a la potencia de 3 es 8. De modo alternativo, se puede usar la función pow, ve un ejemplo en el código más abajo.

In [ ]:
NumA = 2
NumB = 3

In [ ]:
# Suma
NumB + NumA

5

In [ ]:
# Resta
NumB - NumA

1

In [ ]:
# Multiplicación
NumB * NumA

6

In [ ]:
# Division
NumB / NumA

1.5

In [ ]:
# Modulo
NumB % NumA

1

In [ ]:
# Otro ejercicio de modulo
NumC = 13
NumD = 4
NumC % NumD

1

In [ ]:
# Exponenciación
NumB**NumA

# Exponente con pow()
pow(NumB, NumA)

9

# Operando entre `floats` e `int`
Tanto `float` como `int` son tipo de variables que representan números, por lo mismo es compatible hacer operaciones entre ellos

In [ ]:
mi_float = 3.14
mi_int = 2

mi_int*mi_float

6.28

Sin embargo, debes saber que siempre el resultado será un float. Aun cuando pueda ser entero.

In [ ]:
mi_float = 0.2
mi_int = 5

resultado = mi_int * mi_float
print(resultado)
print(type(resultado))

1.0
<class 'float'>

# Actualizando el valor de las variables: asignar vs declarar

Primero asignaremos la variable con un invenario inicial de 3000 unidades

In [ ]:
inventario = 3000

En la siguiente línea de código `inventario = inventario + 2000`, la palabra "inventario" se repite tanto a la derecha como a la izquierda por dos razones:

Para indicar la variable que se está modificando:

A la izquierda del "=" se encuentra el nombre de la variable que queremos actualizar. En este caso, es "`inventario`".
El "=" actúa como un signo de **asignación**.

Para indicar el valor que se le asigna a la variable:

A la derecha del "=" se encuentra la expresión que se calcula para obtener el nuevo valor de la variable. En este caso, es "`inventario + 2000`".


En resumen, la repetición de "`inventario`" ayuda a diferenciar entre la variable que se está modificando (a la izquierda) y el valor que se le está asignando (a la derecha).

In [ ]:
inventario = inventario + 2000

Esto se puede acortar del siguiente modo:

In [ ]:
inventario += 2000

En el caso de sustracción, `inventario = inventario - 2000`

In [ ]:
inventario -= 2000